<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Test</title>
        <!-- <link rel="stylesheet" href="/styles/resets.css">
        <link rel="stylesheet" href="/styles/base.css">
        <link rel="stylesheet" href="/styles/header.css">
        <link rel="stylesheet" href="/styles/form.css">
        <link rel="stylesheet" href="/styles/footer.css"> -->
    </head>

    <body>

        <header>
            <div class="logo">
                <span>N</span>PL
            </div>
            <div class="">
                navigation
            </div>
        </header>

        <main>
            <section>
                <form class="" onsubmit="return Client.handleSubmit(event)">
                    <label for="homepage">Enter the URL: </label>
                    <input id="homepage" type="text" name="homepage" placeholder="URL">
                    <input type="submit" name="" value="Submit" onclick="return Client.handleSubmit(event)" onsubmit="return Client.handleSubmit(event)">
                </form>
            </section>

            <section class = "entry">
                <strong class = "form_results">Form Results:</strong>
                <div id="results">
                    <div id = "score"></div>
                    <div id = "agreement"></div>
                    <div id = "subjectivity"></div>
                    <div id = "irony"></div>
                    <div id = "confidence"></div>
                </div>
            </section>
        </main>

        <footer>
            <p>Copyrights 2021 - Project developed during Front End Web Developer course by Udacity</p>
        </footer>

    </body>
</html>
