<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Test</title>
    </head>

    <body>

        <header>
            <div class="logo">
                <span>N</span>PL
            </div>
        </header>

        <main>
            <section>
                <form class="" onsubmit="return Client.handleSubmit(event)">
                    <label for="homepage">Enter the URL: </label>
                    <input id="homepage" type="text" name="homepage" placeholder="URL">
                    <input type="submit" name="" value="Submit" onclick="return Client.handleSubmit(event)" onsubmit="return Client.handleSubmit(event)">
                </form>
            </section>

            <section class = "entry">
                <strong class = "form_results">Results:</strong><br>
                <div id="results">
                    <div id = "score"></div><br>
                    <div id = "agreement"></div><br>
                    <div id = "subjectivity"></div><br>
                    <div id = "irony"></div><br>
                    <div id = "confidence"></div>
                </div>
            </section>
            <section class = "results_description">
                <strong class = "description_title">Results Description:</strong><br>
                <div id="description">
                    <p>Polarity - indicates the polarity found (or not found) in the element it refers to. It can be strong positive, positive, neutral, negative, strong negative or without sentiment.</p>
                    <p>Agreement - this field marks the agreement between the sentiments detected in the text, the sentence or the segment it refers to. It has two possible values: agreement or disagreement.</p>
                    <p>Subjectivity - this field marks the subjectivity of the text. It has two possible values: objective or subjective.</p>
                    <p>Irony - this field indicates the irony of the text. It has two possible values: nonironic or ironic.</p>
                    <p>Confidence - this field represents the confidence associated with the sentiment analysis performed on the text. Its value is an integer number in the 0-100 range.</p>
                </div>
            </section>
        </main>

        <footer>
            <p>Copyrights 2021 - Project developed during Front End Web Developer course by Udacity</p>
        </footer>

    </body>
</html>
